@import "tailwindcss";



body {
  font-family: "DM Sans", sans-serif;

}

:root {
  --page-bg: #F4F5F6;
  --card-bg: #ffffff;
  --text-primary: #1F1F1F;
  --muted: #8A949E;
  --accent: #eef0f1;
  --border:#d8dbde;
  --btn-primary:rgb(36, 36, 36);

}

.dark-mode {
  --page-bg: #090909;
  --card-bg: #141414;
  --text-primary: #ccc;
  --muted: #666;
  --accent:  #242424;
  --border:#242424;
  --btn-primary:rgb(36, 36, 36);

}

.page-bg { background-color: var(--page-bg); }
.bg-card { background-color: var(--card-bg); }
.text-primary { color: var(--text-primary); }
.text-muted { color: var(--muted); }
.bg-accent { background-color: var(--accent);}
.border-card { border-color:  var(--border);}
.btn-primary { background-color:  var(--btn-primary);}

